* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}

.nav {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2rem;
  padding-left: 1rem;
  height: 110px;
  background-color: #222831;
  color: #EEEEEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.anchor-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover {
  border-bottom: 3px solid #393E46;
}

.no-text-effect:hover {
  text-decoration: none;
  color: #EEEEEE;
}

.nav-img{
  height :98;
  width:125px;
}
.contact-btn{
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #a27b5c;
  border-radius: 3px;
  border: 0.5px solid black;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
}
.contact-btn:hover{
  background-color: #916a4b;
}
.contact-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px 100px;
  color: white;
}
.contact-container:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("./images/barbertools.jpeg") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(10px);
}
.contact-box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222831;
  box-shadow: 0px 0px 19px 5px rgba(255, 255, 255, 0.13);
}
.contact-left{
  height: 100%;
  background: url("./images/barbertools.jpeg") no-repeat center;
  background-size: cover;
}
.contact-right{
  padding: 25px 40px;
}
.contact-header{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.contact-header:after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: pink;
}
.contact-field{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #EEEEEE;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
}
.contact-field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.contact-field:focus{
  background-color: #EEEEEE;
  border: 2px solid rgba(0, 0, 0, 0.1)
}