* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background-color: #A27B5C;
}

.nav {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2rem;
  padding-left: 1rem;
  height: 110px;
  background-color: #222831;
  color: #EEEEEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.nav-bg {
  background-color: rgba(0, 0, 0, 0.0);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.anchor-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.active {
  border-bottom: 3px solid #393E46;
}

.anchor-link:hover:not(.active){
  border-bottom: 3px solid #393E46;
}

.no-text-effect:hover {
  text-decoration: none;
  color: #EEEEEE;
}

.nav-img{
  height :98;
  width:125px;
}

.home-top-img {
  background-color: var(--overlay);
    color: #EEEEEE;
    height: 100vh;
    width: 100%;
    position: relative;
}

.home-top-img:before {
  content: '';
  background: url('./images/home.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-content-on-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.home-content-on-img p {
  font-size: 5rem;
}

.home-shop-section{
  text-align: center;
  padding: 3rem;
  color: #393E46;
  background-color: #EEEEEE;
}

.home-shop-section h1 {
  font-size: 3rem;
  margin-bottom: 1.7rem;
  margin-top: 1rem;
  text-align: center;
}

.home-shop-section hr {
  width: 25%;
  border: 0;
  border-top: 2px solid #393E46;
  align-self: center;
  margin: auto;
}

.home-shop-section p {
  margin-top: 1.3rem;
  font-size: 1.7rem;
}

.home-shop-info-section {
  margin-bottom: 0;
  margin: 3rem 7rem 3rem;
  display: grid;
  grid-template-columns: auto auto auto;
  color: #393E46;
}

.home-shop-info-section h1 {
  font-size: 2.7rem;
}

.home-shop-info-section p {
  font-size: 1.5rem;
}

.home-shop-info-section hr {
  width: 50%;
  border: 0;
  border-top: 2px solid #EEEEEE;
  align-self: center;
  margin: auto;
}

.contact-top-img {
  background-color: var(--overlay);
    color: #EEEEEE;
    height: 100vh;
    width: 100%;
    position: relative;
}

.contact-top-img:before {
  content: '';
  background: url('./images/outside_shop.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contact-content-on-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.contact-content-on-img p {
  font-size: 5rem;
}

.contact-btn{
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #a27b5c;
  border-radius: 3px;
  border: 0.5px solid black;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
}
.contact-btn:hover{
  background-color: #916a4b;
}
.contact-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px 100px;
  color: white;
}
.contact-container:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: url("./images/barbertools.jpeg") no-repeat center; */
  /* background-size: cover; */
  background: linear-gradient(to bottom left, #a27b5c 0%, #222831 100%);
  z-index: -1;
  /* filter: blur(10px); */
  margin-bottom: 0;
}
.contact-box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222831;
  box-shadow: 0px 0px 19px 5px rgba(255, 255, 255, 0.13);
}
.contact-left{
  height: 100%;
  background: url("./images/barbertools.jpeg") no-repeat center;
  background-size: cover;
}
.contact-right{
  padding: 25px 40px;
}
.contact-header{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.contact-header:after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: pink;
}
.contact-field{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #EEEEEE;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
}
.contact-area{
  resize: none;
}
.contact-field:hover{
  background-color: rgba(136, 200, 187, 0.1);
}
.contact-field:focus{
  background-color: #EEEEEE;
  border: 2px solid rgba(0, 0, 0, 0.1)
}

.about-top-img {
  background-color: var(--overlay);
    color: #EEEEEE;
    height: 100vh;
    width: 100%;
    position: relative;
}

.about-top-img:before {
  content: '';
  background: url('./images/about.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-content-on-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.about-content-on-img p {
  font-size: 5rem;
}

.services-top-img {
  background-color: var(--overlay);
    color: #EEEEEE;
    height: 100vh;
    width: 100%;
    position: relative;
}

.services-top-img:before {
  content: '';
  background: url('./images/services.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.services-content-on-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.services-content-on-img p {
  font-size: 5rem;
}

footer{
  position: static;
  margin-top: 0;
}
@media(max-height:800px){
  footer{
    position: static;
  }
  
}
.footer-distributed{
  background-color: #222831;
  box-sizing: border-box;
  widows: 100%;
  text-align: left;
  width: 100%;
  color: black;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}
.footer-distributed .footer-left ,.footer-distributed .footer-center, .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left{
  width: 30%;
}
.footer-distributed h3{
  color: #EEEEEE;
  font: normal 36px 'cookie',cur;
  margin: 0;
}
.footer-distributed h3 span{
  color: #916a4b;
}
.footer-distributed .footer-links{
  color: #EEEEEE;
  margin: 20px 0 12px;
}
.footer-distributed .footer-company-name{
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center{
  width: 35%;
}
.footer-distributed .footer-center i{
  background-color: #33383b;
  color: #EEEEEE;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p{
  display: inline-block;
  color: #EEEEEE;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p b{
  color: #916a4b;
}
.footer-distributed .footer-right{
  width: 30%;
}
.footer-distributed .footer-company-about{
  line-height: 20px;
  color: #EEEEEE;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span{
  display: block;
  color: #EEEEEE;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons{
  margin-top: 25px;
}
.service-header h1{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.service-header h1:last-child{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.service-data p{
  text-align: center;
  max-width: 70%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 1.2rem;
  padding: 20px;
}
.service-menu{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 3rem;
}
.service-menu h1{
  font-size: inherit;
}
